@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    background-color: #253139;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;

}
h2 {
    color:#fff;
    text-align: center;
}
p {
    color: #fff;
    text-align: justify;
}

   /* ==========================================================================
Sliders Style
========================================================================== */


.mySlides {
    height: 600px;
    width: auto;
    display:none;
}

.slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-buttons {
    height: 100px;
}
